In [1]:
#!pip install psycopg2-binary

In [2]:
import psycopg2

## Titanic Data from PostgregDB 
---
1- How many passengers survived, and how many died? \n
2- How many passengers were in each class? \n
3- How many passengers survived/died within each class? \n
4- What was the average age of survivors vs nonsurvivors? \n
5- What was the average age of each passenger class? \n
6- What was the average fare by passenger class? By survival? \n
7- How many siblings/spouses aboard on average, by passenger class? By survival? \n
8- How many parents/children aboard on average, by passenger class? By survival? \n
- Do any passengers have the same name?
- (Bonus! Hard, may require pulling and processing with Python) How many married
  couples were aboard the Titanic? Assume that two people (one `Mr.` and one
  `Mrs.`) with the same last name and with at least 1 sibling/spouse aboard are
  a married couple.

In [3]:
# Question 1
passenger_survived = 'SELECT count(Survived) as passsenger_survived  From Titanic as c WHERE Survived = 1;'
passenger_died = 'SELECT count(Survived) as Died  From Titanic as c WHERE Survived = 0;'
# Question 2 How many passengers were in each class?
passenger_count_class = 'SELECT pclass, count(Survived) as People_died From Titanic as c WHERE Survived = 0 GROUP by Pclass;'
# Question 3
passenger_sur_class = 'SELECT pclass, Survived ,count(*) as Passenger_count From Titanic as c GROUP by Pclass , Survived;'
# Question 4 What was the average age of survivors vs nonsurvivors?
Q4 = 'SELECT Survived, round(avg(AGE),2) as Average_age From Titanic as c GROUP by  Survived;'
# Question 5 What was the average age of each passenger class?
Q5 = 'SELECT Pclass, round(avg(AGE),2) as Average_age From Titanic as c GROUP by  Pclass;'
# Question 6 What was the average fare by passenger class?
Q6 = 'SELECT Pclass, round(avg(Fare),2), Survived as Avg_fare From Titanic as c GROUP by  Pclass, Survived;'
# Question 6.5 By survival?
Q6_5 = 'SELECT Pclass, round(avg(Fare),2) as AVG_fare, Survived From Titanic as c GROUP by  Pclass, Survived;'
# Question 7  How many siblings/spouses aboard on average, by passenger class? By survival?
Q7 = 'SELECT Pclass, round(avg("Siblings/Spouses Aboard"),2) as Sib_N_Spouse from titanic2 GROUP by Pclass;'
# Question 7.5 By survival?
Q7_5 = 'SELECT Survived, round(avg("Siblings/Spouses Aboard"),2) as AVG_Sib_N_Spouse from titanic2 GROUP by Survived;'
# Question 8 How many parents/children aboard on average, by passenger class? By survival?
Q8 = 'SELECT Pclass, round(avg("Parents/Children Aboard"),2) as Average_Parent_Children from titanic2 group by Pclass;'
# Question 8.5 By survival?
Q8_5 = 'SELECT Survived, round(avg("Parents/Children Aboard"),2) as Average_Parent_Children from titanic2 group by Survived;'

In [4]:
dbname = 'eeawqdmz'
user = 'eeawqdmz'
password = '9Z1nea9sBCwXmfO0FCg-4LN8COQVD8VG'
host = 'ruby.db.elephantsql.com'
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                           password=password, host=host)
pg_curs = pg_conn.cursor()

In [5]:
Q1= 'SELECT count(survived) as passsenger_survived  From Titanic WHERE survived = 1;'

In [ ]:
help(pg_curs.execute)

In [11]:
Q1= """SELECT COUNT(survived) as passsenger_survived FROM Titanic WHERE survived = 1;"""
result = pg_curs.execute(Q1)

In [12]:
print('Q1 How many passenger survived?:')
print('Passenger Survived',pg_curs.fetchall()[0][0],'.')

Passenger Survived 342 .

In [15]:
print('Q1_5 How many passenger died?:')
passenger_died = 'SELECT count(Survived) as Died  From Titanic as c WHERE Survived = 0;'
pg_curs.execute(passenger_died)
print('Passenger Died',pg_curs.fetchall()[0][0],'.')

Passenger Died 545 .

In [26]:
passenger_count_class = 'SELECT pclass, count(Survived) as People_died From Titanic as c WHERE Survived = 0 GROUP by Pclass;'
pg_curs.execute(passenger_count_class)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, People who died: {people[1]}.')

Pclass: 1, People who died: 80.
Pclass: 3, People who died: 368.
Pclass: 2, People who died: 97.

In [31]:
#How many passenger in each class?
print('Q2 How many passengers were in each class?:')
test = 'SELECT Pclass, count(*) from titanic GROUP by Pclass;'
pg_curs.execute(test)
test1 = pg_curs.fetchall()
for people in test1:
    print(f'Pclass: {people[0]}, # of people: {people[1]}.')

Pclass: 1, # of people: 216.
Pclass: 3, # of people: 487.
Pclass: 2, # of people: 184.

In [52]:
# How many passengers survived/died within each class?
print('Q3 How many passengers survived/died within each class?')
passenger_sur_class = 'SELECT pclass, Survived ,count(*) as Passenger_count From Titanic as c GROUP by Pclass , Survived Order by Pclass;'
pg_curs.execute(passenger_sur_class)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Survived: {people[1]}, Passenger_count: {people[2]}.')

Q3 How many passengers survived/died within each class?
Pclass: 1, Survived: 0, Passenger_count: 80.
Pclass: 1, Survived: 1, Passenger_count: 136.
Pclass: 2, Survived: 1, Passenger_count: 87.
Pclass: 2, Survived: 0, Passenger_count: 97.
Pclass: 3, Survived: 0, Passenger_count: 368.
Pclass: 3, Survived: 1, Passenger_count: 119.

In [56]:
print('Question 4 What was the average age of survivors vs nonsurvivors?')
Q4 = 'SELECT Survived, round(avg(AGE),2) as Average_age From Titanic as c GROUP by  Survived;'
pg_curs.execute(Q4)
test = pg_curs.fetchall()
for people in test:
    print(f'Survived: {people[0]}, Average_age: {people[1]}.')

Question 4 What was the average age of survivors vs nonsurvivors?
Survived: 0, Average_age: 30.15.
Survived: 1, Average_age: 28.41.

In [36]:
print('Question 5 What was the average age of each passenger class?')
Q5 = 'SELECT Pclass, round(avg(AGE),2) as Average_age From Titanic as c GROUP by  Pclass;'
pg_curs.execute(Q5)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Average Age: {people[1]}.')

Pclass: 1, Average Age: 38.79.
Pclass: 3, Average Age: 25.20.
Pclass: 2, Average Age: 29.88.

In [57]:
print("Question 6 What was the average fare by passenger class?")
Q6 = 'SELECT Pclass, avg(fare) as average_fare From Titanic  GROUP by  Pclass;'
pg_curs.execute(Q6)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Average Fare: ${round(people[1],2)}.')

Question 6 What was the average fare by passenger class?
Pclass: 1, Average Fare: $84.15.
Pclass: 3, Average Fare: $13.71.
Pclass: 2, Average Fare: $20.66.

In [58]:
print('Question 6.5 By survival?')
Q6_5 = 'SELECT Survived ,avg(Fare) as AVG_fare From Titanic as c GROUP by  Pclass, Survived;'
pg_curs.execute(Q6)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Average Fare: ${round(people[1],2)}.')

Question 6.5 By survival?
Pclass: 1, Average Fare: $84.15.
Pclass: 3, Average Fare: $13.71.
Pclass: 2, Average Fare: $20.66.

In [59]:
print('Question 7  How many siblings/spouses aboard on average, by passenger class?')
Q7 = 'SELECT Pclass, round(avg(sibling_spouses_aboard),2) as Average_Sibling_and_Spouse from titanic GROUP by Pclass;'
pg_curs.execute(Q7)
test = pg_curs.fetchall()
for people in test:
    print(f'Pcalss: {people[0]}, Average number of Sibling/ Spouse: {round(people[1],2)}.')

Question 7  How many siblings/spouses aboard on average, by passenger class? By survival?
Pcalss: 1, Average number of Sibling/ Spouse: 0.42.
Pcalss: 3, Average number of Sibling/ Spouse: 0.62.
Pcalss: 2, Average number of Sibling/ Spouse: 0.40.

In [61]:
print("Question 7.5 By survival?")
Q7_5 = 'SELECT Survived, round(avg(sibling_spouses_aboard),2) as AVG_Sib_N_Spouse from titanic GROUP by Survived;'
pg_curs.execute(Q7_5)
test = pg_curs.fetchall()
for people in test:
    print(f'Survived: {people[0]}, Average number of Sibling/ Spouse: {round(people[1],2)}.')

Question 7.5 By survival?
Survived: 0, Average number of Sibling/ Spouse: 0.56.
Survived: 1, Average number of Sibling/ Spouse: 0.47.

In [62]:
print("Question 8 How many parents/children aboard on average, by passenger class? By survival?")
Q8 = 'SELECT Pclass, round(avg(parent_children_aboard),2) as Average_Parent_Children from titanic group by Pclass;'
pg_curs.execute(Q8)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Average number of Parent/Chidren: {round(people[1],2)}.')

Question 8 How many parents/children aboard on average, by passenger class? By survival?
Pclass: 1, Average number of Parent/Chidren: 0.36.
Pclass: 3, Average number of Parent/Chidren: 0.40.
Pclass: 2, Average number of Parent/Chidren: 0.38.

In [63]:
print("Question 8.5 By survival?")
Q8_5 = 'SELECT Survived, round(avg(parent_children_aboard),2) as Average_Parent_Children from titanic group by Survived;'
pg_curs.execute(Q8_5)
test = pg_curs.fetchall()
for people in test:
    print(f'Pclass: {people[0]}, Average number of Parent/Chidren: {round(people[1],2)}.')

Question 8.5 By survival?
Pclass: 0, Average number of Parent/Chidren: 0.33.
Pclass: 1, Average number of Parent/Chidren: 0.46.